@font-face {
    font-family: 'Naturaly';
    src: url('../fonts/Naturaly.otf') format('opentype');
}

@font-face {
    font-family: 'Mono Polz';
    src: url('../fonts/Mono Polz.ttf') format('truetype');
}

body {
    background: linear-gradient(180deg, #1d83bd, #0b2f70);
    height: 100vh;
    overflow: hidden;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #261952;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 15vw;
    font-family: 'Mono Polz';
}

.back-to-title-window {
    display: none;
    width: 50%;
    height: 55%;
    background: linear-gradient(180deg, #52d7ff, #004777);
    flex-direction: column;
    position:fixed;
    top: 22.5%;
    left: 25%;
    align-items: center;
    border: solid 0.8vw;
    /* make the border color a gradien */
    border-image: linear-gradient(155deg, #64c1ff, #001842) 1;
    border-radius: 1.2vw;
    z-index: 1000;
    
}

.back-to-title-window.show {
    display: flex;
}

.back-to-title-window p {
    margin-top: 5%;
    margin-bottom: 7.5%;
    width: 70%;
    font-size: 6vw;
    text-align: center;
    font-family: 'Mono Polz';
    color: white;
    text-shadow: 
        -2px -2px 0 #000,  2px -2px 0 #000,  0px  2px 0 #000,  2px 0px 0 #000,
        0px -2px 0 #000, -2px 0px 0 #000, -2px  2px 0 #000,  2px  2px 0 #000,
        -3px -3px 0 #000,  3px -3px 0 #000,  0px  3px 0 #000,  3px 0px 0 #000,
        0px -3px 0 #000, -3px 0px 0 #000, -3px  3px 0 #000,  3px  3px 0 #000,
        -4px -4px 0 #000,  4px -4px 0 #000,  0px  4px 0 #000,  4px 0px 0 #000,
        0px -4px 0 #000, -4px 0px 0 #000, -4px  4px 0 #000,  4px  4px 0 #000;
    white-space: pre-wrap;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 0.8vw;
    margin-bottom: 0.5vw;
    height: 10vh;
}

.button-container button {
    width: 11.5vw;
    height: 5.8vw;
    font-family: 'Naturaly';
    font-size: 4.2vw;
    border: 0.4vw solid black;
    border-radius: 0.6vw;
    padding-right: 0.7vw;
    cursor: pointer;
    -webkit-text-stroke: 1px;
}

.confirm-title-button {
    background-color: #006516;
}

svg{
    font: 4.9vw 'Mono Polz';
}

.svg-text {
    fill: white;
    font-weight: bolder;
    stroke: black;
    stroke-width: 1.5px;
    stroke-linejoin : round;
}

.cancel-title-button {
    background-color: #860000;
}

.top-bar {
    display: flex;
    height: 16vh;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-bottom: 1vw;
}

.player-card {
    width: 18.7vw;
    height: 90%;
    border: 0.3vw solid black;
    border-radius: 0.6vw;
    margin: 1vw;
    margin-bottom: 0;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;

    background: radial-gradient(circle at 70% 50%, #4ca2db 10%, #054761 50%, #002f4d 100%);
    cursor: default;
}

.player-info {
    padding-top: 0.6vh;
    align-items: center;
    justify-content: space-between;
    width: 10vw;
    z-index: 1;
}

.player-picture img {
    aspect-ratio: 1/1;
    height: 90%;
    margin-top: 0.5vh;
    margin-left: 0.3vw;
    border: 0.2vw solid black;
    border-radius: 50%;
    cursor: pointer;
    background-color: #380606;
    object-fit: cover;
    cursor: default;
}

.player-name {
    width: 10vw;
    height: 2.5vw;
    flex-grow: 1;
    font-size: 2vw;
    padding-top: 0.5vh;
    margin-left: -0.2vw;
    text-align: center;
    font-family: 'Naturaly';
    margin-left: -0.6vw;
}

.player-icon {
    position: absolute;
    filter: opacity(0.7);
    z-index: 0;
}

.player-score {
    padding-top: 1.5vh;
    text-align: center;
    font-size: 2.7vw;
    font-family: 'Mono Polz';
    margin-left: -0.8vw;
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78vh;
    width: 98%;
    margin-left: 0.7%;
    gap: 0;

    border: 0.3vw solid black;
    border-radius: 1.2vw;
    padding: 0.55vh 0 0.55vh 0;
}

.sidebar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3vw;
    width: 5%;
    height: 100%;
    background: linear-gradient(180deg, #2a1555, #4c2796, #2a1555);

    border: solid #140c33;
    border-width: 0.4vw;
    border-radius: 1vw 0 0 1vw;
}

.board {
    border: solid #140c33;
    border-width: 0.4vw 0 0.4vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    
    background: radial-gradient(circle, #4474db, #1b113d);
}

.sidebar-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3vw;
    width: 5%;
    height: 100%;
    background: linear-gradient(180deg, #2a1555, #4c2796, #2a1555);

    border: solid #140c33;
    border-width: 0.4vw;
    border-radius: 0 1vw 1vw 0;
}

.categories {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12vh;
    background: linear-gradient(180deg, #1249a9, #00235f);
    
    border-bottom: 0.1vh solid;
    border-color: #000000;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 1.6vw;
    font-family: 'Impact';
    color: #c9b824;
    padding-top: 0.3vh;
    padding-bottom: 2.2vh;
    border-style: solid;
    border-top-width: 0.3vh;
    /* border-bottom-width: 0.2vh; */
    border-right-width: 0.2vw;
    border-left-width: 0.2vw;
    border-color: #000000;
    margin-right: 0;
    margin-left: 0;
    /* height: 5.5vw; */
    background: linear-gradient(180deg, #0b3680, #001842);

    text-shadow: 
        -0.1vw -0.1vw 0 #000000,  
         0.1vw -0.1vw 0 #000000,
        -0.1vw  0.1vw 0 #000000,
         0.1vw  0.1vw 0 #000000;

    cursor: default;
}

.category:not(:last-child) {
    margin-right: -0.15vw; /* Apply negative margin only to non-last categories */
}

.questions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 13.2vh;
    margin-top: -0.2vh;
    margin-bottom: 0.4vh;
    border-collapse: collapse;
}

.question {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.1vw;
    font-family: 'Mono Polz';
    color: #ffe600;
    border-top-width: 0.2vh;
    border-right-width: 0.2vw;
    border-bottom-width: 0.2vh;
    border-left-width: 0.2vw;
    border-style: solid;
    border-color: #000000;
    cursor: pointer;

    margin-bottom: -0.4vh;

    text-shadow: 
        -2px -2px 0 #000,  2px -2px 0 #000,  0px  2px 0 #000,  2px 0px 0 #000,
        0px -2px 0 #000, -2px 0px 0 #000, -2px  2px 0 #000,  2px  2px 0 #000,
        -3px -3px 0 #000,  3px -3px 0 #000,  0px  3px 0 #000,  3px 0px 0 #000,
        0px -3px 0 #000, -3px 0px 0 #000, -3px  3px 0 #000,  3px  3px 0 #000;

    background: linear-gradient(130deg, #3c22b1, #352274);
    cursor: default;
}

.question:not(:last-child) {
    margin-right: -0.15vw; /* Apply negative margin only to non-last questions */
}

.question.clicked {
    visibility: hidden;
}

.next-board-window {
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    background-color: #342469;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 4vw;
    text-align: center;
    font-family: 'Mono Polz';
    border: solid 0.8vw;
    border-color: #160f31 #0d081d #080513 #120c2b;
}

.lamp {
    /* position: absolute; */
    width: 6vh;
    height: 6vh;
    margin-top: 0.5vh;
    /* margin-bottom: 1vw; */
}

.lamp.on {
    margin-top: -8.3vh;
}
