@font-face {
    font-family: 'Mono Polz';
    src: url("../fonts/Mono Polz.ttf") format("truetype");
}

@font-face {
    font-family: 'Naturaly';
    src: url("../fonts/Naturaly.otf") format("opentype");
}

body {
    background: linear-gradient(130deg, #845dfa, #261952);
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    user-select: none;
}

.player-list {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 1vw;
    padding: 2vw;
}

.player-card {
    height: 15vh;
    border: 1vw solid rgb(28, 0, 51);
    border-radius: 0.6vw;
    padding: 0.6vw;
    text-align: left;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, #583ABD, #352274);
    transition: background-color 0.1s;
    cursor: default;
}

.player-picture img {
    width: 30vw;
    height: 30vw;
    border: 0.2vw solid black;
    border-radius: 50%;
    object-fit: cover;
    transition: filter 0.1s;
}
    
.player-name {
    flex-grow: 1;
    font-size: 9vw;
    margin-top: 10vw;
    text-align: center;
    font-family: 'Naturaly';
    white-space: normal;
    overflow-wrap: break-word;
}

.kick-button {
    width: 15vw;
    height: 15vw;
    margin-top: 8vw;
    margin-right: 1vw;
    background: linear-gradient(130deg, #8d0303, #470000);
    border: 0.3vw solid black;
    border-radius: 0.4vw;
    font-size: 2vw;
    cursor: pointer;
    transition: background-color 0.1s;
}

.kick-button img {
    margin-top: 0.1vw;
    width: 12vw;
    height: 12vw;
    object-fit: contain;
}

.start-game-button {
    width: 60vw;
    height: 10vh;
    margin-top: 4vh;
    margin-bottom: 3vh;
    background-color: #372863;
    border: 1.2vw solid;
    border-color: rgb(51, 8, 100) rgb(38, 9, 70) rgb(38, 9, 70) rgb(51, 8, 100);
    border-radius: 1vw;
    font-size: 5vw;
    font-family: 'Mono Polz';
    color: rgb(242, 231, 255);
    cursor: pointer;
    left: 40%;
    transition: background-color 0.1s, border-color 0.1s;
}

label {
    font-size: 8vw;
    font-family: 'Mono Polz';
    color: rgb(242, 231, 255);
}

select {
    width: 60vw;
    height: 10vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 7vw;
    font-family: 'Mono Polz';
    text-align: center;
    color: rgb(242, 231, 255);
    background-color: #372863;
    border: 0.3vw solid;
    border-color: rgb(78, 28, 134) rgb(45, 12, 82) rgb(45, 12, 82) rgb(78, 28, 134);
    border-radius: 0.6vw;
    cursor: pointer;
    transition: background-color 0.1s, border-color 0.1s;
}

.open-question-button {
    width: 55vw;
    height: 13vh;
    margin-top: 3vh;
    background-color: #aa0baf;
    border: 1vw solid;
    border-color: rgb(78, 28, 134) rgb(45, 12, 82) rgb(45, 12, 82) rgb(78, 28, 134);
    border-radius: 0.6vw;
    font-size: 8vw;
    font-family: 'Mono Polz';
    color: rgb(242, 231, 255);
    cursor: pointer;
}

.next-board-button {
    width: 55vw;
    height: 13vh;
    margin-top: 3vh;
    background-color: #7500ac;
    border: 1vw solid;
    border-color: rgb(78, 28, 134) rgb(45, 12, 82) rgb(45, 12, 82) rgb(78, 28, 134);
    border-radius: 0.6vw;
    font-size: 8vw;
    font-family: 'Mono Polz';
    color: rgb(242, 231, 255);
    cursor: pointer;
}

.reset-board-button {
    width: 55vw;
    height: 13vh;
    margin-top: 3vh;
    background-color: #ac0000;
    border: 1vw solid;
    border-color: rgb(78, 28, 134) rgb(45, 12, 82) rgb(45, 12, 82) rgb(78, 28, 134);
    border-radius: 0.6vw;
    font-size: 8vw;
    font-family: 'Mono Polz';
    color: rgb(242, 231, 255);
    cursor: pointer;
}

h1 {
    margin-top: 1.5vh;
    margin-bottom: 0.1vh;
    font-size: 8vw;
    font-family: 'Naturaly';
    text-align: center;
}

.question {
    margin-top: 0.1vh;
    font-size: 7vw;
    font-family: 'Mono Polz';
    color: rgb(202, 176, 226);
    margin-bottom: 1.5vh;
    text-align: center;
    justify-content: center;
}

.answer {
    margin-top: 0.1vh;
    font-size: 7vw;
    font-family: 'Mono Polz';
    color: rgb(83, 0, 160);
    margin-bottom: 1.5vh;
    text-align: center;
    justify-content: center;
}

.player-list-2 {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}

.player-container {
    display: flex;
    gap: 1vw;
    padding: 1vh;

    width: 110%;
    height: 12vh;
}

.incorrect-button {
    width: 18%;
    height: 12vh;
    margin-top: 0.5vh;
    background: linear-gradient(130deg, #8d0303, #470000);
    border: 0.3vw solid black;
    border-radius: 0.6vw;
    font-size: 5vw;
    font-family: 'Mono Polz';
    color: rgb(242, 231, 255);
    cursor: pointer;
    transition: background-color 0.1s;
}

.player-card-2 {
    height: 100%;
    width: 60%;
    border: 0.3vw solid black;
    border-radius: 0.6vw;
    padding: 0.6vw;
    text-align: left;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, #452b9b, #311f6e);
    transition: background-color 0.1s;
    cursor: default;
}

.player-picture-2 img {
    width: 21vw;
    height: 21vw;
    margin-top: 0.5vw;
    border: 0.2vw solid black;
    border-radius: 50%;
    object-fit: cover;
    background-color: #2c085c;
    transition: filter 0.1s;
}

.player-info-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.player-name-2 {
    flex-grow: 1;
    font-size: 8vw;
    margin-top: 3vw;
    text-align: center;
    font-family: 'Naturaly';
    line-height: 6vw;
    overflow-wrap: break-word;
}

.score {
    height: 20.5vw;
    font-size: 7vw;
    text-align: center;
    font-family: 'Mono Polz';
    margin-top: 1vw;
}

.correct-button {
    width: 18%;
    height: 12vh;
    margin-top: 0.5vh;
    background: linear-gradient(130deg, #0b8e0b, #005200);
    border: 0.3vw solid black;
    border-radius: 0.6vw;
    font-size: 5vw;
    font-family: 'Mono Polz';
    color: rgb(242, 231, 255);
    cursor: pointer;
    transition: background-color 0.1s;
}

.start-timer-button {
    width: 70%;
    height: 10vh;
    margin-top: 1vh;
    background-color: #007cb6;
    border: 0.3vw solid black;
    border-radius: 0.6vw;
    font-size: 8vw;
    font-family: 'Mono Polz';
    color: rgb(242, 231, 255);
    cursor: pointer;
}

.next-answerer-button {
    width: 70%;
    height: 10vh;
    margin-top: 1vh;
    background-color: #af0000;
    border: 0.3vw solid black;
    border-radius: 0.6vw;
    font-size: 8vw;
    font-family: 'Mono Polz';
    color: rgb(242, 231, 255);
    cursor: pointer;
}

.reveal-answer-button {
    width: 70%;
    height: 10vh;
    margin-top: 1vh;
    background-color: #15b300;
    border: 0.3vw solid black;
    border-radius: 0.6vw;
    font-size: 8vw;
    font-family: 'Mono Polz';
    color: rgb(242, 231, 255);
    cursor: pointer;
}

.back-to-board-button {
    width: 70%;
    height: 10vh;
    margin-top: 1vh;
    background-color: #470049;
    border: 0.3vw solid black;
    border-radius: 0.6vw;
    font-size: 8vw;
    font-family: 'Mono Polz';
    color: rgb(242, 231, 255);
    cursor: pointer;
}

.question-view {
    background: linear-gradient(130deg, #845dfa, #261952);
    width: 96vw;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}