@font-face {
    font-family: 'Naturaly';
    src: url('../fonts/Naturaly.otf') format('opentype');
}

@font-face {
    font-family: 'Mono Polz';
    src: url('../fonts/Mono Polz.ttf') format('truetype');
}

body {
    background: linear-gradient(180deg, #000000, #0b001a, #0f0022, #14002e, #11003f);
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #261952;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 15vw;
    font-family: 'Mono Polz';
}

.ip-container {
    width: 100%;
    height: 18%;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5vw solid #1f0047;
    background-color: #40007c;
}

h1 {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    font-size: 4.5vw;
    font-family: 'Naturaly';
    color: white;
    text-align: center;
    text-shadow: 
        -2px -2px 0 #000,  2px -2px 0 #000,  0px  2px 0 #000,  2px 0px 0 #000,
        0px -2px 0 #000, -2px 0px 0 #000, -2px  2px 0 #000,  2px  2px 0 #000,
        -3px -3px 0 #000,  3px -3px 0 #000,  0px  3px 0 #000,  3px 0px 0 #000,
        0px -3px 0 #000, -3px 0px 0 #000, -3px  3px 0 #000,  3px  3px 0 #000,
        -4px -4px 0 #000,  4px -4px 0 #000,  0px  4px 0 #000,  4px 0px 0 #000,
        0px -4px 0 #000, -4px 0px 0 #000, -4px  4px 0 #000,  4px  4px 0 #000;

    animation: ColorShift linear 5s infinite;
}

.address-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ip-address {
    width: 25%;
    margin-top: 0;
    margin-bottom: 0.5vw;
    margin-left: 40%;
    font-size: 3.1vw;
    font-family: 'Naturaly';
    color: white;
    text-shadow: 
        -2px -2px 0 #000,  2px -2px 0 #000,  0px  2px 0 #000,  2px 0px 0 #000,
        0px -2px 0 #000, -2px 0px 0 #000, -2px  2px 0 #000,  2px  2px 0 #000,
        -3px -3px 0 #000,  3px -3px 0 #000,  0px  3px 0 #000,  3px 0px 0 #000,
        0px -3px 0 #000, -3px 0px 0 #000, -3px  3px 0 #000,  3px  3px 0 #000,
        -4px -4px 0 #000,  4px -4px 0 #000,  0px  4px 0 #000,  4px 0px 0 #000,
        0px -4px 0 #000, -4px 0px 0 #000, -4px  4px 0 #000,  4px  4px 0 #000;
}

button {
    background-color: #15004e;
    border: solid 0.3vw;
    border-color: #0c002b #0c002b #0c002b #0c002b;
    border-radius: 0.6vw;
    cursor: pointer;
    font-size: 2vw;
    font-family: 'Naturaly';
    text-align: center;
    color: white;
    text-shadow: 
        -2px -2px 0 #000,  2px -2px 0 #000,  0px  2px 0 #000,  2px 0px 0 #000,
        0px -2px 0 #000, -2px 0px 0 #000, -2px  2px 0 #000,  2px  2px 0 #000,
        -3px -3px 0 #000,  3px -3px 0 #000,  0px  3px 0 #000,  3px 0px 0 #000,
        0px -3px 0 #000, -3px 0px 0 #000, -3px  3px 0 #000,  3px  3px 0 #000;

    z-index: 1;
}

.hide-button{
    width: 8%;
    height: 70%;
    margin-top: 0vw;
    margin-left: 1%;
    margin-right: auto;
    margin-bottom: 0.5vw;
}

.dropdown {
    position: absolute;
    display: inline-block;
    bottom: 1vw;
    left: 1vw;
    z-index: 1;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 3vw;
    background-color: #15004e;
    border: 0.3vw solid black;
    border-radius: 0.6vw;
    padding: 0.5vw;
    color: white;
    font-family: 'Naturaly';
    font-size: 1.2vw;
    z-index: 1;
}

.dropdown-menu p {
    padding: 0.1vw;
    padding-left: 0.7vw;
    margin: 0;
    cursor: pointer;
}

.dropdown-menu p::before {
    content: '-'; /* Unicode character for a bullet point */
    color: white; /* Color of the bullet point */
    position: absolute;
    left: 0.25vw; /* Adjust the position as needed */
    font-size: 1.2vw; /* Match the font size of the text */
}

.dropdown-menu.show {
    display: flex;
}

.back-button {
    width: 16vw;
    height: 4vw;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
}

.player-list {
    margin-top: 10%;
    margin-left: 6%;
    margin-right: 6%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    padding: 2vw;
}

.player-card {
    height: 15vw;
    border: 0.3vw solid black;
    border-radius: 0.6vw;
    padding: 0.6vw;
    text-align: left;
    display: flex;
    flex-direction: row;
    background: linear-gradient(120deg, #2d0068 30%, #d3b300);
    cursor: default;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.player-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(45, 0, 104, 0.001), rgba(45, 0, 104, 0.1), rgba(255, 255, 255, 0.5), rgba(45, 0, 104, 0.1), rgba(45, 0, 104, 0.001));
    transform: skewX(-25deg);
    z-index: 1;
    pointer-events: none;
}

.player-card .player-info,
.player-card .player-picture {
    position: relative;
    z-index: 2; /* Ensure the content is above the pseudo-element */
}

@keyframes shine {
    0% {
        left: -100%;
    }
    100% {
        left: 125%;
    }
}

.player-info {
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.player-picture img {
    width: 14vw;
    height: 14vw;
    margin-top: 0.5vw;
    border: 0.2vw solid black;
    border-radius: 50%;
    object-fit: cover;
    background-color: #2c085c;
    transition: filter 0.1s;
}

.player-name {
    flex-grow: 1;
    padding-top: 5vw;
    font-size: 4vw;
    text-align: center;
    font-family: 'Naturaly';
    color: white;
    text-shadow: 
        -2px -2px 0 #000,  2px -2px 0 #000,  0px  2px 0 #000,  2px 0px 0 #000,
        0px -2px 0 #000, -2px 0px 0 #000, -2px  2px 0 #000,  2px  2px 0 #000,
        -3px -3px 0 #000,  3px -3px 0 #000,  0px  3px 0 #000,  3px 0px 0 #000,
        0px -3px 0 #000, -3px 0px 0 #000, -3px  3px 0 #000,  3px  3px 0 #000,
        -4px -4px 0 #000,  4px -4px 0 #000,  0px  4px 0 #000,  4px 0px 0 #000,
        0px -4px 0 #000, -4px 0px 0 #000, -4px  4px 0 #000,  4px  4px 0 #000;
}

.player-icon {
    position: absolute;
    filter: opacity(0.6)
}

.player-count {
    position: fixed;
    bottom: 0.6vw;
    width: 20%;
    height: 12%;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 0.8vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    
    border: 0.5vw solid;
    border-color: #917b00 #917b00 #917b00 #917b00;
    border-radius: 0.8vw;

    background-color: #e7bd00;
    font-size: 4.5vw;
    color: white;
    font-family: 'Naturaly';

    z-index: 1;
}

svg {
    width: 100%;
    height: 100%;
}

.svg-text {
    fill: white;
    font-weight: bolder;
    stroke: black;
    stroke-width: 1.5px;
    stroke-linejoin : round;
}

tspan.slash {
    font-size: 5.0vw;
    stroke-width: 3.5px;
}

.visuals-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.star {
    width: 1.2vw;
    position: fixed;
}

.rocket {
    width: 4vw;
    position: fixed;
}

*::-webkit-scrollbar {
    display: none;
}