@font-face {
    font-family: 'Naturaly';
    src: url('../fonts/Naturaly.otf') format('opentype');
}

@font-face {
    font-family: 'Mono Polz';
    src: url('../fonts/Mono Polz.ttf') format('truetype');
}

body {
    background: linear-gradient(180deg, #753592, #753592);
    height: 100vh;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #261952;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 15vw;
    font-family: 'Mono Polz';
}

.ip-container {
    width: 40%;
    height: 10%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 0.3vw;
    border-color: #261952 #261952 #261952 #261952;
    border-radius: 0.6vw;
    background-color: #5824a0;
}

h1 {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    font-size: 4.5vw;
    font-family: 'Naturaly';
    color: white;
    text-align: center;
}

.address-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ip-address {
    width: 55%;
    margin-top: 0;
    margin-bottom: 0.5vw;
    margin-left: 20%;
    font-size: 3.1vw;
    font-family: 'Naturaly';
}

.hide-button{
    width: 13%;
    height: 6%;
    margin-top: 0vw;
    margin-left: 7%;
    margin-right: 5%;
    margin-bottom: 0.5vw;
    background-color: #2d0861;
    border: solid 0.3vw;
    border-color: #261952 #1d1240 #1d1240 #261952;
    border-radius: 0.6vw;
    cursor: pointer;
    font-size: 2vw;
    font-family: 'Naturaly';
    text-align: center;
}

.back-button {
    width: 16vw;
    height: 4vw;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    background-color: #2e006e;
    border: solid 0.3vw;
    border-color: #312069 #1d1240 #1d1240 #312069;
    border-radius: 0.6vw;
    cursor: pointer;
    font-size: 3vw;
    font-family: 'Naturaly';
    text-align: center;
    /* color: white; */
}

.player-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    padding: 2vw;
}

.player-card {
    height: 15vw;
    border: 0.3vw solid black;
    border-radius: 0.6vw;
    padding: 0.6vw;
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color: #583ABD;
    transition: background-color 0.1s;
    cursor: default;
}

.player-info {
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.player-picture img {
    width: 14vw;
    height: 14vw;
    margin-top: 0.5vw;
    border: 0.2vw solid black;
    border-radius: 50%;
    object-fit: cover;
    background-color: #2c085c;
    transition: filter 0.1s;
}

.player-name {
    flex-grow: 1;
    padding-top: 5vw;
    font-size: 4vw;
    text-align: center;
    font-family: 'Naturaly';
}

.player-count {
    position: fixed;
    bottom: 4vw;
    width: 20%;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 0.8vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border:rgb(41, 1, 73) 0.3vw solid;
    border-radius: 0.6vw;

    background-color: #5824a0;
    font-size: 2.5vw;
    color: white;
    font-family: 'Naturaly';
}

*::-webkit-scrollbar {
    display: none;
}