@font-face {
    font-family: 'Mono';
    src: url(../fonts/Mono.ttf) format('truetype');
}

@font-face {
    font-family: 'Naturaly';
    src: url('../fonts/Naturaly.otf') format('opentype');
}

body {
    background-color: #261952;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.buzzer-button {
    width: 85vw;
    height: 85vw;
    margin-top: 20vh;
    border: 2vw solid black;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ff4d4d, #af1212);
    font-size: 15vw;
    font-family: 'Mono';
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buzzer-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 200%;
    background: radial-gradient(circle, rgba(250, 126, 126, 0.34), rgba(44, 0, 0, 0.582));
    transform: translate(-50%, -50%);
}

.player-card {
    width: 85vw;
    height: 37.5vw;
    border: 1.5vw solid;
    border-color: #1b0e41 #120d27 #120d27 #1b0e41;
    border-radius: 1.5vw;
    margin-top: 16vw;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: linear-gradient(to bottom, #583ABD, #352274);
}

.player-picture {
    width: 33vw;
    height: 33vw;
    margin-top: 2vw;
    margin-left: 2vw;
    border: 0.7vw solid black;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    background-color: #300855;
}

.player-info {
    width: 50vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.player-name {
    height: 10.5vw;
    font-size: 7.5vw;
    margin-top: 4vw;
    text-align: center;
    font-family: 'Naturaly';
}

.player-score {
    height: 20.5vw;
    text-align: center;
    font-size: 12vw;
    font-family: 'Mono';
}